html {
	background-color: #17183a;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.15;
	perspective: 1000px;
	color: #b6b6b6;
	overflow-x: hidden;
	min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

* {
	outline: 0;
}

.header {
	background-color: #1c184d;
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 0px;
	height: 84px;
}

.header a {
	display: inline-block;
	margin-left: 50px;
}

.header img {
	width: 80px;
}

.header .ButtonList {
	display: inline-block;
	text-align: right;
	vertical-align: center;
	position: absolute;
	right: 50px;
	top: 15px;
	transform: translate(50px, 0px);
}

.header .ButtonList .Lines:hover .Line1 {
	transform: skewY(-45deg) translate(0px, 12.5px);
	border-width: 1.5px;
}
.header .ButtonList .Lines:hover .Line3 {
	transform: skewY(45deg) translate(0px, -12.5px);
	border-width: 1.5px;
}

.header .ButtonList .Lines .Links {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	margin-right: -50px;
	width: 150px;
	height: auto;
	text-align: right;
	position: relative;
	top: 30px;
	right: -150px;
	font-size: 24px;
	background-color: #1c184d;
}

.header .ButtonList .Lines .Links a {
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	color: #b6b6b6;
	text-decoration: none;
	margin-bottom: 10px;
}
.header .ButtonList .Lines .Links a:hover {
	padding-right: 20px;
	color: #665b99;
	text-decoration: none;
	margin-bottom: 10px;
}

.header .ButtonList .Lines:hover .Links, .header .ButtonList .Lines .Links:hover, .header .ButtonList .Lines .Links a:hover {
	right: 50px;
	padding-right: 25px;
}

.header .ButtonList .Lines .Line1 {
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	width: 30px;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
}
.header .ButtonList .Lines .Line2 {
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	width: 30px;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
}
.header .ButtonList .Lines .Line3 {
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	width: 30px;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
}

.MainPart {
	margin: 50px;
	text-align: center;
}

iframe {
	width: 70vw;
	height: 39.375vw;
	margin-left: 7vw;
	margin-right: 7vw;
	border-radius: 30px;
	box-shadow: 0px 0px 16px 0px #000000;
}

.text {
	margin-left: 15vw;
	margin-right: 15vw;
	z-index: -15;
	padding-bottom: 130px;
}

h1 {
	font-weight: normal;
	font-size: 32px;
}

.footer {
	text-align: center;
	background-color: #1c184d;
	position: fixed;
	width: 100%;
	height: 95px;
	bottom: 0px;
	padding: 5px;
	font-size: 14px;
}

.footer .ButtonList a img {
	width: 32px;
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
}

.footer .ButtonList a img:hover {
	transform: scale(2);
}